:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --text-size: 16px;
  --line-height: 1.5;
  --letter-spacing: 0.02em;
}

body {
  font-family: var(--font-family);
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--slate);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}
/* RESET */

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.head-link:hover,
.head-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--ocean);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.h-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* HEADER SECTION */
.wb_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-family: var(--second-family);
}

.wb_blue {
  color: var(--navy-blue);
}

.navigation {
  font-weight: 500;
  color: var(--navy-blue);
}

address {
  color: var(--slate);
}

.head-adress {
  font-style: normal;
}

/* HERO SECTION */
.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* FEATURES SECTION */

.features-text {
  color: var(--slate);
}

/* TEAM SECTION */
.team {
  background-color: var(--cloud);
}

.team-item {
  background: var(--white);
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);
}

/* PROTFOLIO SECTION */

/* FOOTER SECTION */

.footer {
  background: var(--navy-blue);
  color: var(--cloud);
}

.wb_blue_footer {
  color: var(--cloud);
}
